{% set title = "about" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
  <section class="p-t-50">
    <div class="container">
      <div>
        <h2 class="title-content">Biz haqimizda</h2>
      </div>
      <div class="about-content">
        <p class="b-text m-b-15">Biogomus yer hosildorligini oshiruvchi tabiy organik o'g'it bo'lib oddiy o'g'itdan kup marta kuchli va uning
          kuchi uzoq yillar davomida yeringizni unumdor qilishga yordam beradi.</p>
        <p class="b-text m-b-40">
          Биогумус ерга бир маромда ер билан аралаштирилмасдан солинади ёки чопилгандан сўнг 2-2,5 см қатламда
          аралаштирилиб солинади.
          Биогумус ҳосилдор ерлар учун бир гектар ерга камида 3000-4000 килограммдан, ҳосилдорлиги паст epлаp учун эса
          ҳар
          бир гектарга 7000 - 8000 кг дан солинади. Устки меъёр белгиланмаган. Биогумус уч йилда бир солинади. Завол
          кўрган ерларга биринчи йили бир гектарга 7000-8000 кг, кейинчалик ер ҳосилдорлиги тиклангунга кадар ҳар йили
          бир
          гектарга камида 3000 килограммдан солиб турилади.
        </p>
        <p class="o-text">
          Practice and research have shown that 20% of bioorganic waste can be used to produce up to 60% of finished
          biohumus products from cattle, horse and sheep manure.
        </p>
        <p class="b-text">
          Biogumus is poured into the soil evenly without mixing with the soil, or after cutting it is mixed in a layer
          of
          2-2.5 cm. <br>
          Biogumus is applied at least 3000-4000 kg per hectare for fertile lands, and 7000 - 8000 kg per hectare for
          low-yield eplap. The upper rule is not set. Biogumus is watered every three years. In the first year,
          7,000-8,000 kg per hectare is applied to degraded lands, and then at least 3,000 kg per hectare per year until
          the yield is restored.
        </p>
      </div>
    </div>
  </section>
</main>

{% include "components/footer.html" %}
{% endblock %}