{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main class="main">
  <section class="head-content">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="left-block">
            <div class="bio-subtitle">Vermi Kompost</div>
            <h1 class="bio-title">Biogumus</h1>
            <div class="bio-text">O'simliklarni o'sishi va gullarni stimulyatori. Mevalarning pishishini tezlashtiradi.
            </div>
            <a class="bio-link" href="#!">batafsil</a>
          </div>
        </div>
        <div class="col-6">
          <div>
            <div class="green-bg">
              <span class="bio-50"><img src="./images/png/bio-bg50L.png" alt=":("></span>
              <span class="bio-20"><img src="./images/png/c-bio-20L.png" alt=":("></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <a href="#lastContent" class="arrow-down"><span><img src="./images/svg/arrow-down.svg" alt=":("></span></a
        href="#lastContent">
      <div class="bottom-block-inner">
        <p>Biogomus yer hosildorligini oshiruvchi tabiy organik o'g'it bo'lib oddiy o'g'itdan kup marta kuchli va uning
          kuchi uzoq yillar davomida yeringizni unumdor qilishga yordam beradi. </p>
        <ul class="socials">
          <li><a class="social-link" href="#!"><img src="./images/svg/instagram.svg" alt=":("></a></li>
          <li><a class="social-link" href="#!"><img src="./images/svg/facebook.svg" alt=":("></a></li>
          <li><a class="social-link" href="#!"><img src="./images/svg/telegram.svg" alt=":("></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="lastContent">
    <div>
      <h2 class="title-content">Bizning mahsulotlarimiz</h2>
    </div>
    <div class="card-block">
      <div class="container">
        <div class="row">
          <div class="col-xl-3">
            <article class="product-card">
              <div class="product-card-info">
                <div>
                  <div class="card-title">Biogomus oliy navi</div>
                  <div class="card-subtitle">501 organik o'g'it</div>
                </div>
                <div class="card-price">16 000 <span>uzs</span> </div>
              </div>
              <div class="card-img-wrap">
                <div class="card-img"><img src="./images/png/c-bio-50L.png" alt=":("></div>
              </div>
              <div class="amount"><span>50</span> <span>л.</span></div>
            </article>
          </div>
          <div class="col-xl-3">
            <article class="product-card">
              <div class="product-card-info">
                <div>
                  <div class="card-title">Biogomus universal</div>
                  <div class="card-subtitle">201 organik o'g'it</div>
                </div>
                <div class="card-price">12 000 <span>uzs</span> </div>
              </div>
              <div class="card-img-wrap">
                <div class="card-img"><img src="./images/png/c-bio-20L.png" alt=":("></div>
              </div>
              <div class="amount"><span>20</span> <span>л.</span></div>
            </article>
          </div>
          <div class="col-xl-3">
            <article class="product-card">
              <div class="product-card-info">
                <div>
                  <div class="card-title">Biogomus oliy navi</div>
                  <div class="card-subtitle">51 organik o'g'it</div>
                </div>
                <div class="card-price">10 000 <span>uzs</span> </div>
              </div>
              <div class="card-img-wrap">
                <div class="card-img"><img src="./images/png/c-bio-20L.png" alt=":("></div>
                
              </div>
              <div class="amount"><span>5</span> <span>л.</span></div>
            </article>
          </div>
          <div class="col-xl-3">
            <article class="product-card">
              <div class="product-card-info">
                <div>
                  <div class="card-title">Biogomus oliy navi</div>
                  <div class="card-subtitle">701 organik o'g'it</div>
                </div>
                <div class="card-price">22 000 <span>uzs</span> </div>
              </div>
              <div class="card-img-wrap">
                <div class="card-img"><img src="./images/png/c-bio-50L.png" alt=":("></div>
              </div>
              <div class="amount"><span>75</span> <span>л.</span></div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="title-content">Bizning afzallik taraflarimiz</h2>
    </div>
    <div class="card-block2">
      <div class="row">
        <div class="col-xl-8 offset-2">
          <div class="row">
            <div class="col-xl-4">
              <article class="card-ventage">
                <div class="card-ventage-title"><img src="./images/svg/quality.svg" alt=":("></div>
                <div class="card-title">Sifatli biogomus</div>
                <p class="card-text">Yomg'ir chuvalchanglarini chiqindilarni qayta ishlash maqsadida ko'paytirish va
                  organik o'g'itlar
                  olish
                  ya'ni BIOGUMUS</p>
              </article>
            </div>
            <div class="col-xl-4">
              <article class="card-ventage">
                <div class="card-ventage-title"><img src="./images/svg/lider.svg" alt=":("></div>
                <div class="card-title">Lider universal</div>
                <p class="card-text">Yomg'ir chuvalchanglari organik moddalar (hazon, po'choq) iste'mol qilib BIOGUMUS
                  ishlab.</p>
              </article>
            </div>
            <div class="col-xl-4">
              <article class="card-ventage">
                <div class="card-ventage-title"><img src="./images/svg/award.svg" alt=":("></div>
                <div class="card-title">Yutuqli Biogumus</div>
                <p class="card-text">Yomg'ir chuvalchanglarini chiqindilarni qayta ishlash maqsadida ko'paytirish va
                  organik o'g'itlar olish ya'ni BIOGUMUS</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  id="gallery">
      <h2 class="title-content">Na'munalardan fotogalereya</h2>
    </div>
    <div class="slide-wrap">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-item"></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card1.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card2.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card3.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card4.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card5.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card1.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"><img src="./images/png/card2.png" alt=":("></div>
          </div>
          <div class="swiper-slide">
            <div class="slide-item"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="partners"><img src="./images/svg/partners.svg" alt=":("></div>
        </div>
        <div class="col-xl-6">
          <div class="form-wrap">
            <div class="title-content">Hamkorlarimiz</div>
            <p class="form-text">Bioo'g'itlar bozoridagi vaziyatni tahlil qilish.
              O'zbekistondan bioo'g'itlar eksporti, raqobat muhitini tahlil qilish.
              Narx tahlili Bozor segmentatsiyasi: ichki bozor va eksport.</p>
            <div class="form-title">Bu yerda sizning kompaniyangiz <br> bo'lishi mumkin</div>
            <form action="#" class="form">
              <label class="label" for="name">
                <span>Ismingiz</span>
                <input id="name" type="text" placeholder="Munosabat uchun"></label>
              <label class="label" for="tel">
                <span>Telefon raqamingiz</span>
                <input id="tel" type="tel" placeholder="+998 -- --- -- --"></label>
              <button class="bio-link">Yuborish</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include "components/footer.html" %}
{% endblock %}