<footer class="footer">
  <div class="footer-bg-el">
    <div class="container">
      <div>
        <a class="logo-footer" href="#!"><img src="./images/svg/logo-w.svg" alt=":("></a>
        <ul class="addres-footer">
          <li><a href="tel:+998 97 443 94 64">+998 97 443 94 64</a></li>
          <li><a href="#!">biofet@mail.ru</a></li>
          <li><span>Toshkent sh, Olmazor t-n, Talabalar shaharchasi, 3A-uy</span></li>
        </ul>
        <ul class="footer-social">
          <li>
            <a class="footer-social-link" href="#!">
              <img src="./images/svg/instagram-w.svg" alt=":(">
            </a>
          </li>
          <li>
            <a class="footer-social-link" href="#!">
              <img src="./images/svg/facebook-w.svg" alt=":(">
            </a>
          </li>
          <li>
            <a class="footer-social-link" href="#!">
              <img src="./images/svg/telegram-w.svg" alt=":(">
            </a>
          </li>
        </ul>
        <div class="footer-copr">2022© Biofet. Hamma huquqlari himoyalangan.</div>
      </div>
    </div>
  </div>
</footer>